In [7]:
import pandas as pd
from prettytable import PrettyTable # pip install prettytable

In [8]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
validation = pd.read_csv('validation.csv')

In [9]:
print("train.csv")
print("  ", train.columns)
print("test.csv")
print("  ", test.columns)
print("validation.csv")
print("  ", validation.columns)

train.csv
   Index(['id', 'split', 'en_US', 'de_DE', 'hi_IN', 'es_ES', 'fr_FR', 'it_IT',
       'ar_SA', 'nl_NL', 'ja_JP', 'pt_PT'],
      dtype='object')
test.csv
   Index(['id', 'split', 'en_US', 'de_DE', 'hi_IN', 'es_ES', 'fr_FR', 'it_IT',
       'ar_SA', 'nl_NL', 'ja_JP', 'pt_PT'],
      dtype='object')
validation.csv
   Index(['id', 'split', 'en_US', 'de_DE', 'hi_IN', 'es_ES', 'fr_FR', 'it_IT',
       'ar_SA', 'nl_NL', 'ja_JP', 'pt_PT'],
      dtype='object')

In [10]:
print("Linhas e colunas")
table = PrettyTable()
table.field_names = ["Dataset", "#Rows", "#Columns"]
for (dataset,dataset_name) in [(train,"train"), (test,"test"), (validation,"validation")]:
    table.add_row([dataset_name, dataset.shape[0], dataset.shape[1]])
table

Linhas e colunas

+------------+-------+----------+
|  Dataset   | #Rows | #Columns |
+------------+-------+----------+
|   train    | 11514 |    12    |
|    test    |  2974 |    12    |
| validation |  2033 |    12    |
+------------+-------+----------+

In [11]:
print("Quantidade de valores diferentes em cada língua em cada dataset:")
table = PrettyTable()
table.field_names = ["Dataset"] + list(train.columns[2:])
for (dataset,dataset_name) in [(train,"train"), (test,"test"), (validation,"validation")]:
    languages = dataset.columns[2:]
    row = [dataset_name] + [dataset[language].nunique() for language in languages]
    table.add_row(row)
table

Quantidade de valores diferentes em cada língua em cada dataset:

+------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
|  Dataset   | en_US | de_DE | hi_IN | es_ES | fr_FR | it_IT | ar_SA | nl_NL | ja_JP | pt_PT |
+------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
|   train    | 11468 | 11267 | 11212 | 11170 | 11189 | 10961 | 10991 | 11260 | 11025 | 11078 |
|    test    |  2970 |  2955 |  2945 |  2944 |  2943 |  2918 |  2907 |  2953 |  2919 |  2932 |
| validation |  2031 |  2022 |  2013 |  2015 |  2016 |  2001 |  2007 |  2017 |  2015 |  2004 |
+------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+

In [12]:
print("Quantidade de valores diferentes em cada língua em cada dataset:")
table = PrettyTable()
table.field_names = ["Dataset"] + ["en_US", "de_DE", "es_ES", "fr_FR","pt_PT"]
for (dataset,dataset_name) in [(train,"train"), (test,"test"), (validation,"validation")]:
    languages = ["en_US", "de_DE", "es_ES", "fr_FR","pt_PT"]
    row = [dataset_name] + [dataset[language].nunique() for language in languages]
    table.add_row(row)
table

Quantidade de valores diferentes em cada língua em cada dataset:

+------------+-------+-------+-------+-------+-------+
|  Dataset   | en_US | de_DE | es_ES | fr_FR | pt_PT |
+------------+-------+-------+-------+-------+-------+
|   train    | 11468 | 11267 | 11170 | 11189 | 11078 |
|    test    |  2970 |  2955 |  2944 |  2943 |  2932 |
| validation |  2031 |  2022 |  2015 |  2016 |  2004 |
+------------+-------+-------+-------+-------+-------+